name: Haskell CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    strategy:
      matrix:
        os: ["ubuntu-24.04"]
        ghc: ["9.8.4", "9.10.1"]
        cabal: ["3.14.2.0"]
        test: [true]
        build-targets: ["all"]
        include:
          - os: "ubuntu-24.04"
            ghc: "9.12.2"
            cabal: "3.14.2.0"
            test: false
            # Building the test suite fails on GHC 9.12.2 due to a compiler bug;
            # see https://gitlab.haskell.org/ghc/ghc/-/issues/25771
            build-targets: "lib:llvm-pretty"
      fail-fast: false
    name: ${{ matrix.os }} - GHC ${{ matrix.ghc }} - Cabal ${{ matrix.cabal }}
    uses: GaloisInc/.github/.github/workflows/haskell-ci.yml@v2
    with:
      cabal: ${{ matrix.cabal }}
      cache-key-prefix: v3b
      ghc: ${{ matrix.ghc }}
      os: ${{ matrix.os }}
      test: ${{ matrix.test }}
      build-targets: ${{ matrix.build-targets }}
